.container {
  width: 100%;
  height: 100%;
  padding-top: var(--sectionPaddingTop);
  padding-left: var(--plpr);
  padding-right: var(--plpr);
  overflow: hidden;
}

.contentContainer {
  max-width: var(--maxWidth);
  display: flex;
  gap: 2rem;
  margin: 0 auto;
}

.imageContainer {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.images {
}

.img1 {
  bottom: -80px;
  position: relative;
  width: 40%;
  object-fit: contain;
}

.img2 {
  width: 25%;
  top: 67%;
  right: 33%;
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
  opacity: 0;
}

.img3 {
  width: 35%;
  height: 100%;
  object-fit: contain;
  top: -44px;
  position: relative;
}

.textContainer {
  width: 50%;
  padding-left: 2vw;
  padding-right: 2vw;
}

.textContainer p {
  font-weight: normal;
  font-style: normal;
  color: #74787c;
  font-size: 18px;
  line-height: 30px;
}

.titleContainer h1 {
  font-size: var(--sectionSmTitle);
  color: var(--titleColor2);
  margin-bottom: 2rem;
}

.titleContainer h1:before {
  display: inline-block;
  content: "\00BB";
  font-weight: 400;
  margin-right: 10px;
}

.titleContainer h2 {
  font-size: var(--sectionMdTitle);
  font-weight: var(--titleFontW);
  margin-bottom: 2rem;
  line-height: 110%;
}
