.container {
  width: 100%;
  height: 100%;
  padding-top: var(--sectionPaddingTop);
  padding-bottom: var(--sectionPaddingTop);
  padding-left: var(--plpr);
  padding-right: var(--plpr);
  overflow: hidden;
}

.contentContainer {
  max-width: var(--maxWidth);
  display: flex;
  gap: 2rem;
  margin: 0 auto;
}

.imageContainer {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
}

.img1 {
  min-width: auto;
  min-height: 600px;
  max-height: 700px;
  object-fit: cover;
}

.img2 {
  width: 25%;
  top: 67%;
  right: 33%;
  transform: translate(-50%, -50%);
  z-index: 1;
  position: absolute;
  display: none;
}

.img3 {
  width: 35%;
  height: 100%;
  object-fit: contain;
  top: -44px;
  position: relative;
  display: none;
}

.textContainer {
  width: 50%;
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textContainer p {
  font-weight: normal;
  font-style: normal;
  color: #74787c;
  font-size: 18px;
  line-height: 30px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.titleContainer h1 {
  font-size: var(--sectionSmTitle);
  color: var(--titleColor2);
}

.titleContainer h1:before {
  display: inline-block;
  content: "\00BB";
  font-weight: 400;
  margin-right: 10px;
}

.titleContainer h2 {
  font-size: var(--sectionMdTitle);
  font-weight: var(--titleFontW);
  margin-bottom: 2rem;
  line-height: 110%;
}

@media screen and (max-width: 1032px) {
  .contentContainer {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    align-items: center;
  }

  .img1 {
    min-width: auto;
    min-height: auto;
    object-fit: cover;
  }

  .textContainer {
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .textContainer p {
    font-weight: normal;
    font-style: normal;
    color: #74787c;
    font-size: var(--textContainerP);
    line-height: 30px;
  }
}
