.container {
  width: 100%;
  height: 100%;
  padding-top: var(--sectionPaddingTopOnlyHero);
  padding-left: var(--plpr);
  padding-right: var(--plpr);
}

.contentContainer {
  max-width: var(--maxWidth);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.titleContainer h1 {
  font-size: var(--sectionSmTitle);
  text-align: center;
  color: var(--titleColor2);
}

.titleContainer h1:before {
  display: inline-block;
  content: "\00BB";
  font-weight: 400;
  margin-right: 10px;
}

.titleContainer {
  padding: var(--paddingTitleContainer);
}

.titleContainer h1:after {
  display: inline-block;
  content: " \00AB";
  font-weight: 400;
  margin-left: 10px;
}

.titleContainer h2 {
  font-size: var(--sectionMdTitle);
  text-align: center;
  font-weight: var(--titleFontW);
}

.boxContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding-top: 40px;
  align-items: center;
  justify-content: center;
}

.boxContainerItems {
  width: 100%;
  max-width: 650px;
  min-height: 120px;
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 0px 10px 60px 0px rgba(60, 126, 224, 0.093);
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  font-size: 24px;
  color: #1a1a1a;
  font-weight: 800;
  padding-right: 5%;
}

.iconAndPromoContainer {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 2rem;
}

.icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.icon img {
 max-width: none;
  color: var(--iconColor);
}

.promo {
  font-size: 22px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.circle {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle span {
  border: 1px solid rgba(24, 28, 34, 0.102);
  height: 60px;
  width: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle span svg {
  width: 15px;
  height: 15px;
  color: var(--iconColor);
}

@media screen and (max-width: 600px) {
  .titleContainer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .titleContainer h2 {
    line-height: 120%;
  }

  .circle {
    height: auto;
    width: auto;
  }

  .circle span {
    height: 40px;
    width: 40px;
  }

  .boxContainerItems {
    width: 100%;
    padding: 2rem 1rem 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .boxContainer {
    gap: 3rem;
  }

  .promo {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    padding-left: 0%;
    padding-right: 0%;
  }
  .number {
    font-size: 24px;
    color: #1a1a1a;
    font-weight: 800;
    padding-right: 0%;
  }

  .iconAndPromoContainer {
    flex-direction: column;
  }

  .icon {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 1500px) {
  .promo {
    font-size: 18px;
  }

  .boxContainerItems {
    max-width: 500px;
  }

}

@media screen and (max-width: 600px) {
  

  .boxContainerItems {
    max-width: 300px;
  }
}
