.container {
  width: 100%;
  height: 100%;
  padding-top: var(--sectionPaddingTop);
  padding-bottom: var(--sectionPaddingTop);
  padding-left: var(--plpr);
  padding-right: var(--plpr);
  overflow: hidden;
  background: linear-gradient(to bottom, white 30%, #edf2f5 30%);
  position: relative;
  z-index: 0;
}

.contentContainer {
  background-color: #222933;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 3rem;
  z-index: 2;
}

.titleContainer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.titleContainer h1 {
  font-size: 16px;
  color: var(--titleColor2);
}

.titleContainer h1:before {
  display: inline-block;
  content: "\00BB";
  font-weight: 400;
  margin-right: 10px;
}

.titleContainer h2 {
  font-size: 24px;
  font-weight: var(--titleFontW);
  color: white;
}

.sliderBox {
  height: 100%;
  width: 100%;
  display: flex !important;
  gap: 2rem !important;
  justify-content: center;
}

.sliderBoxItem {
  max-width: 100rem;
  width: 100%;
  margin-right: 3rem !important;
  margin-left: 3rem !important;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.starContainer {
  display: flex;
  gap: 1rem;
}

.starContainer svg {
  width: 1rem;
  height: 1rem;
  color: #f94d1c;
}

.sliderBoxItemText {
  margin-left: 1rem;
  font-size: 16px;
  font-weight: 200;
  line-height: 140%;
  color: #eaeaea;
}

.sliderBoxItemName {
  margin-left: 1rem;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  color: #eaeaea;
  padding-bottom: 1.5rem;

}

@media screen and (max-width: 600px) {
  .contentContainer {
    padding: 0rem 0rem 4rem 0rem;
  }
}
