.container {
  width: 100%;
  height: 100%;
  padding-left: var(--plpr);
  padding-right: var(--plpr);

  position: relative;
  min-height: 75vh;
  background-position: center;
  background-size: cover;
  background-image: 
    /* top, transparent red */ linear-gradient(
    rgba(57, 57, 57, 0.376),
    rgba(21, 21, 21, 0.154)
  );
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: linear-gradient(
    90deg,
    #28282841 100.15%,
    hsla(0, 0%, 9%, 0) 22.23%,
    hsla(0, 0%, 9%, 0) 101%
  );
}

.iamgeHero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
}

.paddingZero {
  padding: 0 !important;
}

@media screen and (max-width: 600px) {
  .container {
    min-height: 100vh;
  }

  .layer {
    background-image: linear-gradient(
      90deg,
      #282828a6 100.15%,
      hsla(0, 0%, 9%, 0.482) 22.23%,
      hsla(0, 0%, 9%, 0.427) 101%
    );
  }
}

.imageContainer {
  max-width: var(--maxWidth);
  display: flex;
  margin: 0 auto;
  padding-top: 5%;
  justify-content: end;
}

@media screen and (max-width: 1662px) {
  .imageContainer {
    padding-right: 10%;
  }
}

@media screen and (max-width: 1400px) {
  .imageContainer {
    padding-right: 7%;
  }
}

@media screen and (max-width: 600px) {
  .imageContainer {
    padding-right: 2%;
  }
}

.textContainer {
  max-width: 1000px;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: end;
  position: relative;
  flex-direction: column;
  z-index: 1;
}

.textContainer:before {
  content: "";
  width: 20%;
  right: -90px;
  min-width: 230px;
  height: 80%;
  background: rgb(0, 169, 180);
  background: linear-gradient(
    180deg,
    rgba(0, 169, 180, 1) 0%,
    rgba(21, 52, 90, 1) 100%
  );
  position: absolute;
  z-index: -1;
}

.textContainer h1 {
  color: var(--titleColor);
  font-size: var(--h1Size);
  line-height: 120%;
  letter-spacing: 0.02em;
  font-weight: 800;
  width: 80%;
  text-align: right;
  margin-bottom: 2rem;
}

.textContainer p {
  font-size: max(1.8rem, min(4vw, 2.2rem));
  line-height: 30px;
  margin-bottom: 2rem;
  color: aliceblue;
  font-weight: 600;
}

.textContainer p:before {
  display: inline-block;
  content: "\276F \276F";
  font-weight: 400;
  margin-right: 10px;
}

.btnContainer {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 600px) {
  .btnContainer {
    flex-direction: column;
  }

  .textContainer {
    align-items: unset;
  }

  .textContainer:before {
    left: -90px;
  }

  .textContainer h1 {
    text-align: left;
  }

  .iamgeHero {
    object-position: left;
  }
}
