.navbar {
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  padding-left: var(--plpr);
  padding-right: var(--plpr);
}

@media screen and (max-width: 880px) {
  .navbar {
    display: none !important;
  }
}

.navbar {
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  padding-left: var(--plpr);
  padding-right: var(--plpr);
}

.container {
  width: 100%;
  max-width: var(--maxWidth);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
}

.logo {
  width: var(--logo);
}

.ul {
  display: flex;
  gap: 3rem;
  font-size: var(--fsNav);
  font-weight: 600;
  color: var(--navTextColor);
}

.ul li a {
  position: relative;
}

.ul li a:hover {
  color: var(--btnColor);
}

.ul li a:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 1px;
  width: 0%;
  background-color: var(--btnColor);

  transition: all 160ms ease-in-out;
}



.ul li a:hover::after {
  width: 100%;
  color: ( var(--btnColor));
}


@media screen and (max-width: 960px) {
  .ul {
    gap: 2rem;

  }
} 