.container {
  width: 100%;
  height: 100%;
  padding-top: var(--sectionPaddingTop);
  position: relative;

}

.contentContainer {
  max-width: 100%;
  display: flex;
  gap: 2rem;
  margin: 0 auto;
}

.shape {
  position: absolute;
  top: 2vw;
  left: 2vw;
  z-index: 1;
  width: 15%;
  opacity: .2;
}

.spinnerContainer {
  margin-inline: auto;
  width: 100%;
  height: 100%;
  min-height: 15rem;
  background-color: #222933;
  position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.spinnerContainer::before {
  position: absolute;
  content: "";
  width: 100%;
  min-height: 15rem;
  background-color: #1dacc3;
  top: 0;
  z-index: -1;
  transform: rotateZ(0);
}

.titleContainer h1 {
  font-size: var(--sectionSmTitle);
  color: var(--titleColor2);
  margin-bottom: 2rem;
  text-align: center;
}

.titleContainer h1:before {
  display: inline-block;
  content: "\00BB";
  font-weight: 400;
  margin-right: 10px;
}

.titleContainer h1:after {
  display: inline-block;
  content: " \00AB";
  font-weight: 400;
  margin-left: 10px;
}

.titleContainer h2 {
  text-align: center;
  font-size: var(--sectionMdTitle);
  font-weight: var(--titleFontW);
  color: white;
  margin-bottom: 2rem;
}

.slider {
  width: 100%;
  margin-inline: auto;
  padding-bottom: 5rem;
  max-width: 1200px;
}

.counterContainer {
  margin: 0 auto;
  max-width: var(--maxWidth) ;
  width: 100%;
  height: 20rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.counterItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 30rem;
}

.counterItem span {
  font-size: 35px;
  font-weight: 800;
  color: var(--iconColor);
}

.counterItem p {
  font-size: 18px;
  color: var(--titleColor);
  text-align: center;
}



@media screen and (max-width: 1280px) {
  .slider {
    max-width: 1150px;
  }
}

@media screen and (max-width: 1000px) {
  .slider {
    padding: 0rem;
  }
}
