@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bcColor: #ffffff;
  --bcgSec: #edf2f5 ;
  --mainTextColor: #414141;
  --titleColor: #ffffff;
  --titleColor2: #0dceb5;
  --navTextColor: #353535;
  --mobileMenuColor: #2d2d2d;
  --footercolor: #181c22;
  --secColor2: #f94d1c;

  --footerTextColor: #e9e9e9;

  --secColor: #0dceb5;

  --btnTextColor: #ffeeee;
  --btnColor: #00a9b4;
  --iconColor: #00a9b4;

  --h1Size: max(42px, min(4vw, 68px));
  --titleFontW: 800;
  --SectionFontSize: max(20px, min(4vw, 42px));

  --maxWidth: 1400px;
  --footeritemsWidth: 33.3%;
  --plpr: 5vw;
  --fsBtn: 1.7rem;
  --logo: 200px;
  --fsNav: 16px;

  --sectionSmTitle: 20px;
  --sectionMdTitle: 32px;
  --sectionPaddingTopSm: 5rem;
  --sectionPaddingTopMd: 10rem;
  --sectionPaddingTop: 15rem;
  --sectionPaddingTopBig: 20rem;
  --paddingTitleContainer: 4rem;

  --sectionPaddingTopOnlyHero:7rem;


  --textContainerP: 18px;

  --titleh1: 20px;
  --titleh2: 45px;
}


.map {
  width: 100%;
  height: 40rem;
}

img {
  border-radius: 5px !important;
}

p {
  color: var(--mainTextColor);
}

@media screen and (min-width: 1600px) {
  :root {
    --maxWidth: 1500px;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --footeritemsWidth: 70%;
  }
}

@media screen and (max-width: 600px) {
  :root {
    --sectionMdTitle: 22px;
    --sectionPaddingTop: 10rem;
    --textContainerP: 16px;
    --footeritemsWidth: 100%;
  }
}

*::-webkit-scrollbar {
  width: 0.8em;
  background-color: #fde4cf;
}

*::-webkit-scrollbar-thumb {
  background-color: #00a9b4;
  height: 300px;
  border-radius: 50px;
}

*:focus,
*:active {
  box-shadow: none;
  outline: none !important;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  outline: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.overflow-hidden {
  overflow: hidden !important;
}

html,
body {
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: inherit;
}

body {
  background-color: var(--bcColor);
  color: var(--mainTextColor);
  margin-inline: auto;
  position: relative;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.slick-dots li.slick-active button:before {
  color: white !important;
}

.slick-dots li button:before {
  font-size: 20px !important;
  content: "" !important;
  height: 2px !important;
  width: 35px;
  background-color: white;
}
