.navTop {
  border-bottom: 1px solid #edf2f5;
  display: flex;
  justify-content: center;
  padding-left: var(--plpr);
  padding-right: var(--plpr);
}

.select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.select .option {
  background-color: #fff;
  color: #333;
}

.selectItem {
  padding: 1rem;
}

@media screen and (max-width: 1024px) {
  .navTop {
    display: none;
  }
}

.socialIcon svg {
  width: 20px;
  height: 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 9px;
  max-width: var(--maxWidth);
}

.emailContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.emailContainer svg {
  color: var(--iconColor);
}

.openingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.textContainer {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.imgIcon {
  width: auto;
  max-width: 25px;
  height: auto;
}

.laguageButton {
  color: black;
}

.active {
  color: var(--iconColor) !important;
  font-weight: bold;
  text-decoration: underline;
}

